// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.orf {
    margin-top: -9px;
    margin-left: 26px;
    width: 227px;
}

.orf2 {
    margin-left: 96%;
    width: 86%;
    margin-top: 6px;
}
.eMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F9F6C7;
	height: 30px;
}